<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail RPS JSI Unand</title>
        
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    
<link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
    <div class="sidebar-header">
        <img src="assets/images/logo.svg" alt="" srcset="">
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
                
                <li class="sidebar-item  ">
                    <a href="/mahasiswa" class='sidebar-link'>
                        <i data-feather="home" width="20"></i> 
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/login" class='sidebar-link'>
                        <i data-feather="user" width="20"></i> 
                        <span>Login Admin/Dosen</span>
                    </a>
                </li>
        </ul>
    </div>
</div>
        </div>

        <div id="main">
<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Detail RPS</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/mahasiswa">Mahasiswa</a></li>
                        <li class="breadcrumb-item"><a href="/mahasiswa-listrps">List RPS</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detail RPS</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <p><b>PERANCANGAN BASIS DATA - TSI204</b></p><br> 
                <a href="#" class="btn icon btn-dark"><i data-feather="file"></i><p>Download PDF</p></a>
                <br><br>
                <div class="form-group">
                    <label for="disabledInput">Kode Mata Kuliah</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="TSI204">
                    <label for="disabledInput">SKS</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="4">
                    <label for="disabledInput">Dosen Pengampu</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="Rahmatika Dwi Santika, M.T.">
                    <label for="disabledInput">Deskripsi Mata Kuliah</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="Pada matakuliah ini mahasiswa akan mempelajari konsep dasar basis data, penyusunan deskripsi basis data, perancangan basis data dan pengembangan basis data.">
                    <label for="disabledInput">Capaian Pembelajaran</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="S9    Menunjukkan sikap bertanggungjawab atas pekerjaan di bidang keahliannya secara mandiri">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="P2    Menguasai konsep teoritis yang mengkaji, menerapkan dan mengembangkan dan mampu mengambil keputusan yang tepat dalam penyelesaian masalah.">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="KU2   Mampu menunjukkan kinerja mandiri, bermutu, dan terukur;">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="KU10  Mampu melakukan analisis & desain dengan menggunakan kaidah rekayasa software dan hardware serta algoritma dengan cara menggunakan tools dan dapat menunjukkan hasil dan kondisi yang maksimal untuk aplikasi bisnis.">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="KU11  Memiliki kemampuan untuk menjadi tenaga profesional untuk pengolahan basis data, rekayasa perangkat lunak, jaringan komputer, komputer grafis, dan aplikasi multimedia serta memiliki kemampuan menulis laporan penelitian dengan baik serta mengelola proyek Sistem Informasi, mempresentasikan karya tersebut.">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="KK2   Mampu memelihara dan mengembangkan sistem database (MsSQL/ Oracle/PostGreSQL) yang digunakan oleh perusahaan untuk menyimpan, menganalisis, dan mengambil data serta bertanggung jawab terhadap kinerja, integritas dan keamanan database.">
                    <label for="disabledInput">CPMK</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="1.	Mahasiswa mampu melakukan perancangan data dengan membuat spesifikasi tabel dan basis data">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="2.	Mahasiswa mampu menyusun deskripsi basis data secara detail dari hasil kajian.">
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="3.	Mahasiswa mampu mengembangkan basis data untuk aplikasi sistem informasi.">
                    <label for="disabledInput">Referensi</label>
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="1.Thomas Connolly and Carolyn Begg, Database Systems: A Practical Approach to Design, Implementation, and Management 6th Ed, Pearson Inc., 2014."> 
                    <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="2.Silberschartz, Korth and Sudarshan, Database System Concepts 6th Ed, Mc Graw Hill, 2011.">
                </div>
            </div>
        </div>
    </section>
</div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; Voler</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted <span class='text-danger'></span> by LOKI_A8</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/app.js"></script>
    
<script src="assets/vendors/simple-datatables/simple-datatables.js"></script>
<script src="assets/js/vendors.js"></script>

    <script src="assets/js/main.js"></script>
</body>
</html>